# editorconfig.org

root = true

#应用于所有文件
[*]
#编码风格
charset = utf-8

#缩进字符
indent_size = 4
indent_style = space
#另一种缩进tab
#indent_size = tab
#tab_width = 4

#在文件最后添加一个空白行
insert_final_newline = true

#去除不必要的空白
trim_trailing_whitespace = true

#只是用于.md文件，即markdown
[*.md]
trim_trailing_whitespace = false
